body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
  }
  
  #gallery-canvas {
    display: block;
  }
  